<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru-RU" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <style>
        body, html {
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
        }
        #map {
            width: 100%;
            height: 80%;
        }
    </style>
</head>

<body>
<div th:if="${nopoints}" th:utext="${nopoints}" style="color: red"></div>
<h2 id="header"></h2>
<div id="notetest"></div>
<div id="map"></div>
<div id="color"></div>
<div id="note"></div>


<script th:inline="javascript">
    var precision = 30;
    var map;
    var points = [];
    var polygon;
    var zoom;
    var projection;
    var center;
    var radius;

    var listWithLevels=[[${listWithLevels}]];
    var azimuthOfSector=[[${azimuthOfsector}]];

    var cellss=[[${cells}]];
    var pointsInPos=[[${pointss}]];
    var latPos=[[${lat}]];
    var lonPos=[[${lon}]];
    var rad=[[${radius}]];
    var pos=[[${pos}]];
    var about=[[${about}]];
    var colorSet=[[${colorSet}]];
    document.title=pos+" "+about;
    var cell;

    ymaps.ready(init);

    function init() {
        map = new ymaps.Map("map", {
            center: [latPos, lonPos],
            zoom: 15
        });
        zoom = map.getZoom();
        projection = map.options.get('projection');
        center = projection.toGlobalPixels([latPos, lonPos], zoom);
        draw();
    }

    function draw() {
        map.geoObjects.removeAll();
        $("#color").empty();
        $('#header').empty();

        radius = rad*500/1300;


        if (listWithLevels!==null){


            //alert(listWithLevels.length);
            for (i = 0; i < cellss.length; i++) {
                if (cellss[i].azimuth===azimuthOfSector) {
                    createsectors(cellss[i].azimuth, "#FF0000", 0, 1);
                    cell=cellss[i].ci;
                }
                else {
                    createsectors(cellss[i].azimuth, "#808080", 0, 1);
                }
            }
            document.title=pos+" "+about+" CI: "+cell+" азимут:"+azimuthOfSector;
            for (i=0;i<listWithLevels.length;i++) {


                if (listWithLevels[i].param !== null) {
                    //alert(listWithLevels[i].longitude+" "+listWithLevels[i].language+" "+listWithLevels[i].color+" "+listWithLevels[i].param);
                    createPoint(listWithLevels[i].longitude, listWithLevels[i].latitude, listWithLevels[i].color, listWithLevels[i].param);
                }
            }

            var divColor = document.getElementById("color");
            if (about.split(" ")[0]==="GSM"){
                $('#color').append('<h3>2G RxLevel (dBm):</h3>');
            }
            else
            if (about.split(" ")[0]==="UMTS"){
                $('#color').append('<h3>3G RSCP (dBm):</h3>');
            }
            else
            if (about.split(" ")[0]==="LTE"){
                $('#color').append('<h3>4G RSRP (dBm):</h3>');
            }


            for (i=colorSet.length-1;i>=0;i--){
                var canvas = document.createElement("canvas");
                canvas.width=10;
                canvas.height=10;
                var context=canvas.getContext("2d");
                context.arc(5,5,5,0,Math.PI*2,false);
                context.fillStyle=colorSet[i].split(" ")[1];
                context.fill();
                divColor.appendChild(canvas);
                divColor.appendChild(document.createElement("label").appendChild(document.createTextNode(colorSet[i].split(" ")[0])));
                divColor.appendChild(document.createElement("br"));
            }

        }
        else {

            for (i = 0; i < cellss.length; i++) {
                createsectors(cellss[i].azimuth, cellss[i].color, cellss[i].ci,0);
            }

            for (i = 0; i < pointsInPos.length; i++) {
                createPoint(pointsInPos[i].longitude, pointsInPos[i].latitude, pointsInPos[i].color, pointsInPos[i].param);
            }
            document.title=pos+" "+about;
        }
        $('#header').append(document.title);

    }

    function createsectors(az, color, number, strokeWidth) {
        // вычисляем точки полигона в глобальных координатах
        var start = (az-90-30)*Math.PI/180;
        var end = (az-90+30)*Math.PI/180;

        var delta = end - start;
        var step = delta / precision;

        points.push(center);
        for(var i = 0; i <= delta + step; i += step){
            points.push([
                center[0] + radius * Math.cos(start + i),
                center[1] + radius * Math.sin(start + i)
            ]);
        }
        points.push(center);

        // переводим глобальные координаты в широту-долготу
        points = points.map(function (point) {
            return projection.fromGlobalPixels(point, zoom);
        });

        polygon = new ymaps.Polygon([points],{
            hintContent: number
        }, {
            fillColor: color,
            // Делаем полигон прозрачным для событий карты.
            interactivityModel: 'default#transparent',
            strokeWidth: 0,
            opacity: 0.5
        });

        map.geoObjects.add(polygon);
    }

    function createPoint(lon,lat,color,param) {
        // Создаем круг.
        // Создаем круг.
        var myCircle = new ymaps.Circle([
            // Координаты центра круга.
            [lat, lon],
            // Радиус круга в метрах.
            5
        ], {
            // Описываем свойства круга.
            // Содержимое балуна.
            balloonContent: "",
            // Содержимое хинта.
            hintContent: param
        }, {
            // Задаем опции круга.
            // Включаем возможность перетаскивания круга.
            draggable: false,
            // Цвет заливки.
            // Последний байт (77) определяет прозрачность.
            // Прозрачность заливки также можно задать используя опцию "fillOpacity".
            fillColor: color,
            // Цвет обводки.
            strokeColor: "#990066",
            // Прозрачность обводки.
            strokeOpacity: 0.8,
            // Ширина обводки в пикселях.
            strokeWidth: 0
        });

        // Добавляем круг на карту.
        map.geoObjects.add(myCircle);

    }


    function getAjax(cellid) {
        //var url='http://localhost:8080/mapCell?about='+ about + '&posName='+pos+'&cell='+cellid;
        var xhr = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
        xhr.open('GET', 'http://localhost:8080/mapCell?about='+ about + '&posName='+pos+'&cell='+cellid);
        xhr.onreadystatechange = function() {
            if (xhr.readyState>3 && xhr.status==200){
                const obj = JSON.parse(xhr.responseText);
                listWithLevels = obj.points;
                azimuthOfSector = obj.azimuthOfsector;
                colorSet = obj.colorset;
                draw();
            }
        };
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        xhr.send();
        return xhr;
    }

    function setAll() {
        listWithLevels=null;
        cell=null;
        azimuthOfSector=null;
        draw();
    }

    var notetest=document.getElementById("notetest");

    for (i=0;i<cellss.length;i++){
        var ch = document.createElement("input");
        ch.type="radio";
        ch.name="cell";
        ch.onclick=function(arg) {
            return function() {
                getAjax(arg);
            }
        }(cellss[i].ci);
        notetest.appendChild(ch);
        notetest.appendChild(document.createElement("label").appendChild(document.createTextNode("посмотреть сектор "+cellss[i].ci+" азимут: "+cellss[i].azimuth)));
        notetest.appendChild(document.createElement("br"));
    }

    var ch = document.createElement("input");
    ch.type="radio";
    ch.name="cell";
    ch.onclick=function () {
        setAll();
    }
    notetest.appendChild(ch);
    notetest.appendChild(document.createElement("label").appendChild(document.createTextNode("посмотреть все")));

    //$('#note').append('<input type="radio" name="cell" onclick="setAll()" >посмотреть все<br>');






</script>
</body>

</html>