<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru-RU" type="text/javascript"></script>
</head>

<body>
<div id="map"></div>
<div id="note"></div>

<script type="text/javascript" th:inline="javascript">
var myMap;
// Дождёмся загрузки API и готовности DOM.
ymaps.ready(init);
function init () {
// Создание экземпляра карты и его привязка к контейнеру с
// заданным id ("map").
    myMap = new ymaps.Map('map', {
// При инициализации карты обязательно нужно указать
// её центр и коэффициент масштабирования.
        center: [55.76, 37.64], // Москва
        zoom: 10
    }, {
        searchControlProvider: 'yandex#search'
    });

    var listVal = [[${points}]];
    var cell = [[${cell}]];

    for (i = 0; i < listVal.length; i++) {
        // Создание метки
        var myCircle = new ymaps.Circle([
                // Координаты метки
                [listVal[i].latitude, listVal[i].longitude],
                2
        ]);
        // Добавление метки на карту
        myMap.geoObjects.add(myCircle);
    }
    var myCell  = new ymaps.GeoObject({
        // Описание геометрии.
        geometry: {
            type: "Point",
            coordinates: [cell.latitude, cell.longitude]
        },
        // Свойства.
        properties: {
            // Контент метки.
            iconContent: cell.ci
        }
    }, {
        // Опции.
        // Иконка метки будет растягиваться под размер ее содержимого.
        preset: 'twirl#redStretchyIcon'

    });
    myMap.geoObjects.add(myCell);
}
</script>
<style>
    body, html {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }
    #map {
        width: 100%;
        height: 90%;
    }
</style>


</body>

</html>