<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Start page</title>
</head>
<body>
<p>
<form th:action="@{/createBts}" method="get">
    <input type="submit" value="Создать БТС-файл"/>
</form>
<br>
<form th:action="@{/szPos}" method="get">
    <input type="submit" value="Создать СЗ на перепутку">
</form>
<br>
<form th:action="@{/inputScan}" method="get">
    <input type="submit" value="Проверить БС">
</form>
<br>
<form th:action="@{/exit}" method="get">
    <input type="submit" value="Выключить программу"/>
</form>
</p>
<div style="position:absolute; bottom:0px;font-size: 9px;">Создано Александром Щербаковым и Алексеем Хроповым в 2019 году.</div>
</body>
</html>