<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Check Posnames and Scan file</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>
<body>
<p><a href='/'>На главную.</a></p>
<div>
    <div th:if="${nobts}" th:utext="${nobts}" style="color: red"> </div>
    <div th:if="${nofiles}" th:utext="${nofiles}" style="color: red"> </div>
    <div th:if="${nopoints}" th:utext="${nopoints}" style="color: red"></div>
    <div th:if="${nobtsread}" th:utext="${nobtsread}" style="color: orange"></div>
    <div th:if="${wrongBtsFile}" th:utext="${wrongBtsFile}" style="color: orange"></div>

    <div id="alredyExist">

    </div>
    <form id="formForExist" th:action="@{/reset}" th:method="get">
        <input type="submit" value="удалить загруженные файлы">
    </form>
</div>
<div>
    <form th:action="@{/inputScan}" th:object="${pathScanFile}" th:method="post"  enctype="multipart/form-data" >
        <p>
            Выберите файл сканнера:
            <br>
            <input type="file" th:field="*{scanFile}" accept=".nmf" multiple>
            <br><br>
            Или введите путь к файлу сканнера:
            <input type="text" th:field="*{url}" style="width: 100%">
            <br><br>
            Или выберите из списка последних файлов:
            <div id="files"></div>
            <input id="mainButton" type="submit" value="загрузить файл">
        </p>
        <p>
            <input type="checkbox" id="useBts" name="isBTS" value="ок"> Использовать БТС файл (если компьютер не подключен к базе данных General)
            <br>
        <div id="checkBts">
            Выберите БТС файл:
            <br>
            <input type="file" th:field="*{btsFile}" accept=".csv,.nbf"><br><br>
            Или укажите путь к bts файлу:
            <input type="text" id="pathToBts" th:field="*{toBts}" style="width: 100%">
        <br><br>

            Или выберите из имеющихся:
            <div id="listOfBts"></div>
        </div>

        <script>
            $('#checkBts').hide();
            $('#useBts').click(function () {
                if ($(this).is(':checked')){
                    $('#checkBts').show();
                }
                else {
                    $('#checkBts').hide();
                }
            });
        </script>
        <script th:inline="javascript">
            $('#formForExist').hide();
            var alredy=[[${loaded}]];
            var count = [[${countOfPoints}]];
            if (alredy.length>0){
                var exist = document.getElementById("alredyExist");
                var p = document.createElement("p");
                p.appendChild(document.createTextNode("Загруженные файлы:"));
                exist.appendChild(p);
                for (i=0;i<alredy.length;i++){
                    var p = document.createElement("p");
                    var t = document.createTextNode(alredy[i].substring(alredy[i].lastIndexOf('\\')+1,alredy[i].length));
                    p.appendChild(t);
                    exist.appendChild(p);
                }
                $('#formForExist').show();
            }
        </script>
        <script th:inline="javascript">
            var list=[[${btss}]];
            var files = document.getElementById('listOfBts');
            if (list.length===0){
                var p = document.createElement("p");
                var t = document.createTextNode("Список возможных вариантов пуст.");
                p.appendChild(t);
                files.appendChild(p);
            }
            for(i=0;i<list.length;i++) {
                var inp = document.createElement('input');
                var br = document.createElement('br');
                inp.type = 'radio';
                inp.name = 'bts';
                inp.value =list[i];
                var label = document.createElement('label');
                label.appendChild(document.createTextNode(list[i].substring(list[i].lastIndexOf('\\')+1,list[i].length)));
                files.appendChild(inp);
                files.appendChild(label);
                files.appendChild(br);
            }
        </script>
        </p>
    </form>
</div>
<script th:inline="javascript">
    var list=[[${listFiles}]];
    var files = document.getElementById('files');
    if (list.length===0){
        var p = document.createElement("p");
        var t = document.createTextNode("Список возможных вариантов пуст.");
        p.appendChild(t);
        files.appendChild(p);
    }
    for(i=0;i<list.length;i++) {
        var inp = document.createElement('input');
        var br = document.createElement('br');
        inp.type = 'checkbox';
        inp.name = 'file';
        inp.value =list[i];
        var label = document.createElement('label');
        label.appendChild(document.createTextNode(list[i].substring(list[i].lastIndexOf('\\')+1,list[i].length)));
        files.appendChild(inp);
        files.appendChild(label);
        files.appendChild(br);
    }
</script>

</body>
</html>