<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Check Posnames and Scan file</title>
</head>
<body>
<p><a href='/'>На главную.</a></p>
<div>
    <form th:action="@{/checkPos}" th:object="${pos}" th:method="post">
        <p>
            Введите номера позиций (через запятую):
            <br>
            <br>
            <input type="text" th:field="*{posnames}" style="width: 100%">
            <br>
            <br>
            <input type="submit" value="Проверить БС">
        </p>
    </form>
</div>

</body>
</html>